<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Function Lifespan Visualizer{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="css/home.css">
    {% endblock %}
</head>
<body>
{% block body %}

    <div>
        <h2 class="heading">Function Lifespan Visualization</h2>
    </div>

    <div class="filter-container">
        <form id="filters" action="/">
            <div class="filter">
                <div class="filter-left">
                    <p>View function lifespan for files:</p>
                    <select multiple class="form-control" id="files" name="files[]">
                        {% for file in files %}
                            <option value="{{file.getName()}}">{{file.getName()}}</option>
                        {% endfor %}
                    </select>
                </div>


                <div class="filter-right">
                    <p>View function lifespan between dates:</p>
                    <div class="filter-date-from">
                        From: <br>
                        <select class="form-control" id="start-date" name="start_date">
                            {% for date in dates %}
                                <option value="{{date}}">{{date}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter-date-to">
                        To: <br>
                        <select class="form-control" id="end-date" name="end_date">
                            {% for date in dates %}
                                <option value="{{date}}">{{date}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button>Apply Filters</button>
                </div>
            </div>
        </form>

        <div class="reset-container">
            <form id="reset-filters" action="/">
               <button class="reset-button">Reset Filters</button>
            </form>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <div class="chart">
        {% include 'bubble_chart.html.twig' %}
    </div>
    <div id="chart-legends"></div>
    <script>
        document.getElementById('chart-legends').innerHTML = bubble_chart.generateLegend();

        document.getElementById('start-date').value = "{{startDate}}";
        document.getElementById('end-date').value = "{{endDate}}";
    </script>



{% endblock %}
</body>
</html>
